page-usuario {
    .user-avat {
        width: 150px;
        height: 150px;
        display: inline-block;
        border-radius: 50%;
        img {
          border-radius: 50%;
        }
       
      }
      .centrado{
        margin:10px auto;
        display:block;
        }
      .auth-page {
        background-color: #fff;
        &::after {
          content: "";
          background: url("../assets/img/bg.jpg") no-repeat;
          background-size: cover;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: 0;
        }
      
        .scroll-content {
          display: flex;
          align-items: center;
          justify-content: center;
          //background: rgba(50, 10, 92, .4);
      
          .login-content {
            width: 86%;
      
            .logo {
              width: 60px;
              height: 60px;
              margin: 20px auto 0;
              border-radius: 10%;
              background: url("../assets/img/ionic3-ico.png") no-repeat;
              background-size: 100%;
            }
      
            .list-form {
              padding: 0;
              margin-bottom: 0;
      
              ion-item {
                background: none;
                padding: 0;
       
                &:first-child {
                  border-top: none;
                }
      
                &:after {
                  display: none;
                }
      
                ion-label {
                  font-size: 1em;
                  color: color($colors, primary);
                }
      
                input {
                  color: color($colors, primary);
                }
              }
            }
          }
        }
      }
}
